
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_NAME=ajayu_db

NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=tu-secret-super-secreto-aqui-cambialo

JWT_SECRET=otro-secret-para-jwt-tokens-ajayu

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

NODE_ENV=development